<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="postpc.project.erez0_000.weddingapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- to Gain access with the server -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sameah_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login_pages.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_pages.Sign_in_and_info_Activity" />
        <activity android:name=".Login_pages.Logged_user_entryActivity" />
        <activity android:name=".Login_pages.Anonymous_user_entry" />
        <activity android:name=".Personal_window_Activity" />
        <activity android:name=".searches.SearchActivity" />
        <activity android:name=".todos_section.EXpandableActivity" />
        <activity android:name=".todos_section.CategoriesActivity" />
        <activity android:name=".activities.DisplayBusinessListActivity" />
        <activity android:name=".calendar.CalendarTest" />
        <activity android:name=".activities.BusinessesActivity" />
        <activity
            android:name=".CredentialsActivity"
            android:label="@string/title_activity_credentials" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Login_pages.HorizontalRecyclerBusinesses.BusinessMinimalactivity"></activity>
    </application>

</manifest>