<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.erez0_000.weddingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login_pages.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_pages.Sign_in_and_info" />
        <activity android:name=".Login_pages.Logged_user_entry" />
        <activity android:name=".Login_pages.Anonymous_user_entry" />
        <activity android:name=".Personal_window" />
        <activity android:name=".searches.SearchActivity" />
        <activity android:name=".todos_section.EXpandableActivity" />
        <activity android:name=".todos_section.CategoriesActivity"></activity>
    </application>

</manifest>